@helper Submit(string name)
{
    <input type="submit" value="@name" class="btn btn-primary" />
}

@helper alertMessage(string message)
{
    if (message != null)
    {
        <div class="alert alert-success">
            @message
        </div>
    }
}
